<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section>
    
    <nav>
        <ul>
            <a href="/home">Home</a>
    <a href="/about">About Me</a>
    <a href="/works">My Drives</a>
    <a href="/gallery">Gallery</a>
        </ul>
        </nav>
        <h2>About Me</h2>
    <article>
        <p>The best train driver. I have been driving the Express Train for 10 years now.</p>
    </article>
    <br>

   
    </section>
</body>
</html>