<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <section>
        
        <nav>
            <ul>
                <a href="/home">Home</a>
    <a href="/about">About Me</a>
    <a href="/works">My Drives</a>
    <a href="/gallery">Gallery</a>
            </ul>
            </nav>
            <h2>My works</h2>
        <ul class="works">
            <li>America coast to coast Line</li>
            <li>Austria Mountains trail</li>
            <li>Lisbon - Paris Express</li>
            <li>The Orient Express</li>
        </ul>
        <br>

       
    </section>
</body>
</html>